{% load static %}
{% load i18n %}

<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ruthie" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overlock" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    {% load material_form %}
    {% include 'material/includes/material_css.html' %}
    <script src="{% static 'material/js/jquery.js' %}"></script>
    {% include 'material/includes/material_js.html' %}
</head>
<header>
    <nav>
        <div class="nav-wrapper">
            <h3 href="#!" class="logo" style="margin:0.7rem 0 1.168rem 0;">
                {% block title %}
                    {% trans 'Cadastre-se' %}
                {% endblock %}
            </h3>
        </div>
    </nav>
</header>
{% block base %}
    <div class="row">
        <div class="col m4"></div>
        <div class="col s12 m4">
            <form method="POST" style="text-align: center;">
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <button type="submit" name="_submit" style="background-color: #2865BD"
                        class="btn">{% trans 'Cadastrar' %}</button>
            </form>
        </div>
        <div class="col m4"></div>
    </div>



{% endblock %}
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="text">Wise Codes</h5>
                {#                  <p class="text text-lighten-4">You can use rows and columns here to organize your footer content.</p>#}
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="text"></h5>

            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container text">
            © 2018 Copyright Wise
            <a class="text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>

<div class="row">

</div>
<script>
    $().ready(function () {
        $('select').material_select();
    });
</script>
