<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hemocentros.com.example.kassio.hemocentros">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <activity
            android:name=".hemocentros.activitys.AdicionarDoadoresActivity"
            android:label="Registrar Doadores"
            android:parentActivityName=".hemocentros.activitys.DoadoresActivity" />
        <activity
            android:name=".hemocentros.activitys.AdicionarHospitalActivity"
            android:label="Registrar Hospitais"
            android:parentActivityName=".hemocentros.activitys.HospitaisActivity" />
        <activity
            android:name=".hemocentros.activitys.DoadoresActivity"
            android:label="Lista de Doadores"
            android:parentActivityName=".hemocentros.activitys.DoacoesActivity" />
        <activity
            android:name=".hemocentros.activitys.DetalhesDoadoresActivity"
            android:label="Detalhe Doador"
            android:parentActivityName=".hemocentros.activitys.DoadoresActivity" />
        <activity
            android:name=".hemocentros.activitys.AdicionarDoacaoActivity"
            android:label="Realizar Doação"
            android:parentActivityName=".hemocentros.activitys.DoacoesActivity" />
        <activity
            android:name=".hemocentros.activitys.HospitaisActivity"
            android:label="Lista de Unidades"
            android:parentActivityName=".hemocentros.activitys.DoacoesActivity" />
        <activity
            android:name=".hemocentros.activitys.DetalhesDoacaoActivity"
            android:label="Detalhes Doação"
            android:parentActivityName=".hemocentros.activitys.DoacoesActivity" />
        <activity
            android:name=".hemocentros.activitys.DetalhesUnidadeActivity"
            android:label="Detalhes Unidade"
            android:parentActivityName=".hemocentros.activitys.HospitaisActivity" />
        <activity
            android:name=".hemocentros.activitys.DoadoresActivity"
            android:label="Lista de Doadores"
            android:parentActivityName=".hemocentros.activitys.DoacoesActivity" />
        <activity
            android:name=".hemocentros.activitys.RankingDoadoresActivity"
            android:label="Ranking de Doadores"
            android:parentActivityName=".hemocentros.activitys.DoadoresActivity" />
        <activity
            android:name=".hemocentros.activitys.TelaLogoActivity"
            android:label="@string/title_activity_tela_logo"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".hemocentros.activitys.DoadoresParaDoacaoActivity"
            android:label="Doadores"
            android:parentActivityName=".hemocentros.activitys.DoacoesActivity" />
        <activity
            android:name=".hemocentros.activitys.DoacoesActivity"
            android:label="Hemocentro" />
        <activity
            android:name=".hemocentros.activitys.CampanhasActivity"
            android:label="Campanhas"
            android:parentActivityName=".hemocentros.activitys.DoacoesActivity" />
        <activity
            android:name=".hemocentros.activitys.AdicionarCampanhasActivity"
            android:label="Adicionar Campanhas"
            android:parentActivityName=".hemocentros.activitys.CampanhasParaDoacaoActivity" />
        <activity
            android:name=".hemocentros.activitys.CampanhasParaDoacaoActivity"
            android:label="Selecione a Campanha"
            android:parentActivityName=".hemocentros.activitys.DoacoesActivity" />
        <activity
            android:name=".hemocentros.activitys.RetiradaDeBolsasActivity"
            android:label="Retirada de Bolsas"
            android:parentActivityName=".hemocentros.activitys.DoacoesActivity" />
        <activity android:name=".hemocentros.activitys.EstoqueActivity"></activity>
    </application>

</manifest>