body {
    font-family: "Yu Gothic UI";
    background-image: url("../img/imagem_10.jpg");
    background-repeat: repeat-x;
    background-attachment: fixed;
}

main {

}

header {
    /*display: inline;*/
    padding: 5px;
    position: fixed;
    width: 100%;
    /*border-radius: 10px;*/
    /*text-align: center;*/
    margin: -10px;
    background-color: #4A148C;
}

/*.nome_logo:hover {*/
/*!*background-color: #165da4;*!*/
/*color: #165da4;*/
/*}*/

footer {
    clear: both;
    margin: auto -10px;
    text-align: center;
    padding: 20px;
    color: #ffffff;
    background-color: #4A148C;
}

.container {
    background-color: white;
    padding: 20px;
    width: 80%;
    /*height: 100%;*/
    margin: 10px auto ;
    /*margin-bottom: 20px solid #165da4;*/
}

.conteudo_lado_direito {
    margin-top: 10px;
    height: 300px;
    width: 48%;
    box-sizing: border-box;
    float: right;
    padding: 5px;
    /*height: 100%;*/
    text-align: justify;
}

.conteudo_lado_esquerdo {
    margin-top: 10px;
    height: 300px;
    /*height: 100%;*/
    width: 48%;
    box-sizing: border-box;
    float: left;
    padding: 5px;
    text-align: justify;
}

.imagem_lado_direito {
    border-radius: 3%;
    margin-top: 10px;
    float: right;
    width: 48%;
    box-sizing: border-box;
    solid-opacity: 10px;
}

.imagem_lado_esquerdo {
    border-radius: 3%;
    margin-top: 10px;
    float: left;
    width: 48%;
    box-sizing: border-box;
}

.conteudo_lado_esquerdo:hover {
    background-color: #dfe7d6;

}

.conteudo_lado_direito:hover {
    background-color: #dfe7d6;
}

.texto_inicial {
    text-align: justify;
    clear: both;
}

.capa {
    width: 100px;
    height: 100px;
}

.clear {
    clear: both;
    box-sizing: border-box;
}

.tituto {
    font-size: 25px;
    font-family: "Viner Hand ITC";
    color: white;
}

.navegacao {
    /*font-family: "Viner Hand ITC";*/
    font-size: 16px;
    margin-top: -15px;
    display: inline;
    text-decoration: none;
}

.navegacao ul li {
    background-color: lightgray;
    padding: 10px;
    display: inline;
}

.navegacao ul li:hover {
    background-color: #ffffff;
    color: #222;
    padding: 10px;
    border-bottom: 5px solid #d3d322;
}

.capa {
    float: left;
    width: 30%;
    height: 35%;
    margin: 15px;
    border-radius: 3%;
}



.destaque_1 {
    color: green;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_2 {
    color: greenyellow;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_3 {
    color: brown;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_4 {
    color: blueviolet;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_5 {
    color: darkturquoise;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_6 {
    color: chocolate;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_7 {
    color: tomato;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_8 {
    color: darkred;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_9 {
    color: gold;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_10 {
    color: lawngreen;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_11 {
    color: mediumorchid;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_12 {
    color: #5081d3;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_13 {
    color: #d3381e;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_14 {
    color: #53d32e;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_15 {
    color: #16d3a6;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_16 {
    color: #d33d24;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_17 {
    color: #d317bb;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_18 {
    color: #2c8758;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_19 {
    color: #d3d322;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_20 {
    color: #14d3aa;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_21 {
    color: #d33960;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_22 {
    color: #5540ac;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_23 {
    color: #1cd34f;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}

.destaque_24 {
    color: #d32645;
    font-family: "Viner Hand ITC";
    font-size: 18px;
}